body{
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
  background-color: #c1e193;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  height: 100px;
  background-color: #6fe187;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.header h1{
  margin: 0;
}

.score-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #92e399;
  padding: 20px;
  box-shadow: 0px 2px 10px 0px;
}

.round{
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 10px;
}

.player{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 20px;
}

.game{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.win{
  height: 200px;
  width: 200px;
}

.rps{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vh;
}

.choice button{
  box-sizing: border-box;
  margin: 20px;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
}